@import './variables.scss';

.main {
  height: 100vh;
  margin: auto;

  background-color: $background-color-primary;
  overflow-y: hidden;
}
.login {
  margin: auto;
  margin-top: 200px;
  width: 350px;
  height: auto;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  background-color: white;
}

#titlebox {
  width: 300px;
  height: 60px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 20px;
}
#title {
  height: inherit;
  width: inherit;
}

.input {
  display: block;
  margin: auto;
  margin-bottom: 6px;
  width: 268px;
  text-align: center;
  height: inherit;
  padding: 9px 8px 7px;
  border: 1px solid $border;
  border-radius: 3px;
  outline: none;
}

#loginButton {
  text-align: center;
  text-decoration: none;
  display: block;
  margin: auto;
  margin-bottom: 6px;
  width: 268px;
  height: inherit;
  padding: 9px 8px 7px;
  border: 1px solid $border;
  border-radius: 3px;
  background-color: #3195f3;
  outline: none;
}

#loginButton:hover {
  text-decoration: none;
}

#loginButton:active {
  text-decoration: none;
}

a {
  text-align: center;
  text-decoration: none;
  color: white;
}

// #3195f3
